@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #3a7d9e;
  --secondary-color: #2c5d78;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-primary-600 to-primary-400 bg-clip-text text-transparent;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-primary-600 to-primary-400;
  }
}
